.heroContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../src/assets/img/bg.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
}

.heroInfoWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1024px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 40px;
}

.heroImg{
  z-index: 9999;
}

.heroImg img{
  border-radius:50%;
  margin-top: 80px;
  height: 280px;
  width: 280px;
  border: 15px solid #555555;
  background-color: rgb(223, 223, 223);
}

.heroTextInfo{
  background-color: rgb(223, 223, 223);
  margin-top: -180px;
  width: 80%;
  padding-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 20px 0px 0px;
  border-top: 10px solid #555555;
  border-left:10px solid #555555;
  border-right: 10px solid #555555;
}

.heroTextInfo h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.heroBtn{
  padding-top: 80px;
  padding-bottom: 140px;
}

.heroBtn button{
  padding:10px 20px;
  margin: 20px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-in-out all;
  border-radius: 7px;
}

.heroBtn button:hover{
  transition: .3s ease-in-out all;
  background-color: rgba(255, 255, 255, 0.414);
}
