.servicesContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  var(--background-color);
  padding: 100px 0px;
}

.servicesWrapper{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #18161E;
  color: var(--font-color);
  padding: 40px;
  border-radius: 10px;
}

.servicesText{
  font-family: var(--primary-text);
}

.servicesText h2{
  font-size: 32px;
}

.servicesText p{
  font-size: 16px;
}

.stepsContainer{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.steps{
  margin: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  width: 40%;
  font-family: var(--secondary-text);
}

.steps h3{
  font-size: 32px;
  padding: 10px;
  margin-right: 10px;
}

.steps p{
  font-size: 18px;
}

@media screen  and (max-width:768px){
  .servicesWrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .stepsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .steps{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0;
  }
}

