.aboutContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  var(--background-color);
  padding-top: 100px;
}

.aboutText{
  display: flex;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutText h2{
  color: var(--font-color);
  font-family: var(--primary-text);
  font-size: 48px;
}

.aboutText p{
  padding: 0px 20px;
  font-size: 20px ;
  line-height: 30px;
  letter-spacing: 2px;
  text-wrap: pretty;
  padding-bottom: 40px;
}

.cardsContainer{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards{
    font-family: var(--secondary-text);
    background-color: #18161E ;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--font-color);
    width: 30%;
    height: 100%;
    border: 1px solid black;
    margin: 5px;
}

.cards img{
  width: 64px;
  padding: 10px;
}

.cards h3{
  font-weight: bold;
  font-size: 18px;
}

.cards p{
  font-size: 16px;
}

@media screen and (max-width:768px) {

  .aboutText h2{
    padding: 20px;
  }

  .cardsContainer{
    flex-direction: column;
  }

  .cards{
    text-align: center;
    width: 90%;
  }

}