.therapyTipesContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  var(--background-color);
  padding-top: 100px;
}

.therapyTipesWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 40px;
}

.therapyTypes1{
  width: 100%;
  height: max-content;
  display: flex;
}

.therapyTypes2{
  display: flex;
  height: max-content;
  width: 100%;
  height: auto;
}

.terapyAdulto{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--primary-color);
  width: 80%;
  color: var(--font-color);
  font-family: var(--primary-text);
}

.terapyPareja{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 5px;
  border-radius: 10px;
  width: 20%;
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-family: var(--primary-text);

}

.terapyAdolescente{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  width: 60%;
  height: 200px;
  background-color: var(--font-color);
  font-family: var(--primary-text);

}

.terapyIG{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  width: 40%;
  background-color: var(--accent-color);
  height: 200px;
  color: var(--font-color);
  font-family: var(--secondary-text);
  cursor: pointer;
  text-decoration: none;
}

.terapyIG h2{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .therapyTypes1, .therapyTypes2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .terapyAdulto, .terapyPareja, .terapyAdolescente, .terapyIG{
    width: 100%;
    align-items: center;
  }
}
